<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produto</title>
    <link rel="stylesheet" href="../public/addprodutos.css">
    <script src="https://kit.fontawesome.com/3490cbca6b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
</head>

<body>

    <div class="sidebar">
        <h1>Painel de Controle</h1>
        <a href="./layout.html" class="menu-item">
            <i class="fas fa-home"></i> Início
        </a>
        <a href="#" class="menu-item">
            <i class="fas fa-user"></i> Perfil
        </a>
        <a href="#" class="menu-item">
            <i class="fas fa-cog"></i> Configurações
        </a>
        <a href="#" class="menu-item">
            <i class="fas fa-chart-bar"></i> Estatísticas
        </a>
        <a href="#" class="menu-item">
            <i class="fas fa-envelope"></i> Mensagens
        </a>
        <a href="./addproduto.html" class="menu-item">
            <i class="fas fa-add"></i> Adicionar Produto
        </a>
        <a href="./login.html" class="menu-item">
            <i class="fas fa-sign-out-alt"></i> Sair
        </a>

    </div>

    <!-- Conteúdo principal -->


    <div class="content">
        
        <main id="container">
            <div id="calculator">
                <h2>Adicionar Produto</h2>
                <div id="inputbox">
    
                    <div class="input-field">
                        <label for="value">SDK:</label>
                        <input type="number" id="value">
                    </div>
    
                    <div class="input-field">
                        <label for="fee">Nome do produto:</label>
                        <input type="tex" id="fee">
                    </div>
    
                    <div class="input-field">
                        <label for="time">Preço:</label>
                        <input type="number" id="preco">
                    </div>
    
                </div>
    
                <button href="./index.html" id="calculate">Adicionar</button>
    <a href="./index.html"> <button href="./index.html" id="calculate">Voltar</button></a>
               
            </div>
        </main>
    </div>

</body>
    
</html>