<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Controle - Início </title>
    <link rel="stylesheet" href="../public/layout.css">
    <script src="https://kit.fontawesome.com/3490cbca6b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
   
</head>

<body>

    <div class="sidebar">
        <h1>Painel de Controle</h1>
        <a href="./layout.html" class="menu-item">
            <i class="fas fa-home"></i> Início
        </a>
        <a href="./perfil.html" class="menu-item">
            <i class="fas fa-user"></i> Perfil
        </a>
        <a href="#" class="menu-item">
            <i class="fas fa-cog"></i> Configurações
        </a>
        <a href="#" class="menu-item">
            <i class="fas fa-chart-bar"></i> Estatísticas
        </a>
        <a href="#" class="menu-item">
            <i class="fas fa-envelope"></i> Mensagens
        </a>
        <a href="./addproduto.html" class="menu-item">
            <i class="fas fa-add"></i> Adicionar Produto
        </a>
        <a id="sair" href="./login.html" class="menu-item">
            <i class="fas fa-sign-out-alt"></i> Sair
        </a>

    </div>

    <!-- Conteúdo principal -->
    <div class="content">
        <div class="welcome">
            <p id="welcome">
            <h2>Bem vindo</h2> Admin</p>
        </div>

        <div class="container">
            <div class="grid">
                <a href="#" class="btn1"><img src="../img/estoque.png" alt="Ver estoque"></a>
                <a href="#" class="btn2"><img src="../img/venda.png" alt="Realizar Vendas"></a>
                <a href="#" class="btn3"><img src="../img/caixa.png" alt="Caixa"></a>
                <a href="#" class="btn4"><img src="../img/vendas.png" alt="Vendas Total"></a>
                <a href="#" class="btn5"><img src="../img/addproduto.png" alt="Adicionar Produto"></a>
            </div>
        </div>

        <div class="infos">
          <p>
            <h3>Data:</h3><div id="divData"></div>
            <p>
            <h3>Plano:</h3>Premium</p>
            <p>
            <h3>Versão:</h3>1.0.2</p>
        </div>

    </div>
    <script src="../src/data.js"></script>
</body>

</html>