
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
  
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

  /* MENU SIDE BAR */

  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0074D9;
    padding-top: 60px;
    overflow-y: auto; /* BARRA DE ROLAGEM PARA CONTEUDO LONGO*/
}

.sidebar .menu-item {
    padding: 15px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar .menu-item:hover {
    background-color: #237bbeb9;
}


.content {
    margin-left: 250px;
    padding: 20px;
}

.sidebar h1 {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0; 
    font-size: 25px;
}

/* CONTEUDO INICIAL DOS BOTOES ETC... */


