@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    overflow-y: hidden;
    /* REMOVER O SCROLL DA PAGINA */
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* MENU SIDE BAR */

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0074D9;
    padding-top: 60px;
    overflow-y: auto;
}

    /* BARRA DE ROLAGEM PARA CONTEUDO LONGO*/

.sidebar .menu-item {
    padding: 15px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 300;
}

.sidebar .menu-item:hover {
    background-color: #3aa3f4b9;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.sidebar h1 {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 25px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.101);
    margin-bottom: 20px;
    margin-top: -20px;
}

/* BOTAO DE SAIR  */

#sair {
    margin-top: 250px;
    background-color: #ffffff;
    border-radius: 100px;
    border: solid #0074D9;
    border-width: 15px;
    font-family: 500;
    color: rgb(73, 137, 226)
}

#sair:hover {
    background-color: #d2ecff;
}

/* CONTEUDO INICIAL DOS BOTOES ETC... */
/* BOTOES INICIAIS E DATA*/

.welcome {
    /* DATA */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.container {
    height: 65vh;
    width: 75vw;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0);
}

.container a {
    text-decoration: none;
    display: block;
    transition: transform .3s, box-shadow .4s;
}

.container a:hover {
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.559);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.559);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.559);
    transform: scale(1.03);
}

img {
    width: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    margin: 0;
    padding: 20px;
    display: grid;
    grid-gap: 7px;
    grid: repeat(12, 11rem) / repeat(12, 11rem);
    grid-template-areas: "btn1 btn2 btn2 btn3 btn4" "btn5 btn2 btn2 btn3 btn4"
}

.btn1 {
    background-color: orange;
    grid-area: btn1;
}

.btn1:hover {
    background-color: rgb(255, 179, 37);
}

.btn2 {
    background-color: #0074D9;
    grid-area: btn2;
}

.btn2:hover {
    background-color: #0c85ee;
}

.btn3 {
    background-color: rgb(164, 209, 68);
    grid-area: btn3;
}

.btn3:hover {
    background-color: rgb(170, 219, 64);
}

.btn4 {
    background-color: rgb(255, 61, 61);
    grid-area: btn4;
}

.btn4:hover {
    background-color: #ff5252;
}

.btn5 {
    background-color: rgb(255, 223, 17);
    grid-area: btn5;
}

.btn5:hover {
    background-color: rgb(255, 232, 103);
}

/* INFOS DE ATUALIZACAO, PLANO E DATA  */

.infos {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}