
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
  
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
/* MENU SIDE BAR */

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0074D9;
    padding-top: 60px;
    overflow-y: auto;
}

    /* BARRA DE ROLAGEM PARA CONTEUDO LONGO*/

.sidebar .menu-item {
    padding: 15px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 300;
}

.sidebar .menu-item:hover {
    background-color: #3aa3f4b9;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.sidebar h1 {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 25px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.101);
    margin-bottom: 20px;
    margin-top: -20px;
}

/* BOTAO DE SAIR  */

#sair {
    margin-top: 250px;
    background-color: #ffffff;
    border-radius: 100px;
    border: solid #0074D9;
    border-width: 15px;
    font-family: 500;
    color: rgb(73, 137, 226)
}

#sair:hover {
    background-color: #d2ecff;
}

/* CONTEUDO INICIAL DOS BOTOES ETC... */
/* BOTOES INICIAIS E DATA */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;

}

#profile {
    text-align: center;
    padding: 10px;
}

#profile img {
    width: 112px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

#profile p {
    font-weight: 500;
    line-height: 14px;
    margin-top: 1px;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1px;

    padding: 10px 0;

}

ul li a {
    display: flex;
    justify-content: center;
    /* deixou no meio horizontal */
    align-items: center;
    /* deixou no meio vertical */

    padding: 10px 1px;
}