{% extends "base.html" %}
{% load static %}

{% block content %} 

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
        <title>Dashboard</title>
    </head>
    <body class="text-gray-800 font-inter">
            <div class="p-6">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
                    <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                        <div class="flex justify-between mb-6">
                            <div>
                                <div class="text-2xl font-semibold mb-1">{{ total_vendas }}</div>
                                <div class="text-sm font-medium text-gray-400">Pedidos Feitos</div>
                            </div>
                            <div class="dropdown">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                        <div class="flex items-center">
                            <div class="w-full bg-gray-100 rounded-full h-4">
                                <div class="h-full bg-blue-500 rounded-full p-1" style="width: 60%;">
                                    <div class="w-2 h-2 rounded-full bg-white ml-auto"></div>
                                </div>
                            </div>
                            <span class="text-sm font-medium text-gray-600 ml-4">60%</span>
                        </div>
                    </div>
                    <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                        <div class="flex justify-between mb-4">
                            <div>
                                <div class="flex items-center mb-1">
                                    <div class="text-2xl font-semibold">{{ total_clientes }}</div>
                                    <div class="p-1 rounded bg-emerald-500/10 text-emerald-500 text-[12px] font-semibold leading-none ml-2">+30%</div>
                                </div>
                                <div class="text-sm font-medium text-gray-400">Clientes</div>
                            </div>
                            <div class="dropdown">
                                <i class="fa-solid fa-user-plus"></i></button>
                            </div>
                        </div>
                        <div class="flex items-center">
                            <a href="{% url "cliente_list" %}" class="text-blue-500 font-medium text-sm hover:text-blue-600">Ver Detalhes</a>
                        </div>
                    </div>
                    <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                        <div class="flex justify-between mb-6">
                            <div>
                                <div class="text-2xl font-semibold mb-1"><span class="text-base font-normal text-gray-400 align-top">&dollar;</span>{{ faturamento_vendas }}</div>
                                <div class="text-sm font-medium text-gray-400">Faturamento</div>
                            </div>
                            <div class="dropdown">
                                <i class="fa-solid fa-money-bill"></i>
                            </div>
                        </div>
                        <a href="#" class="text-blue-500 font-medium text-sm hover:text-blue-600">Ver Detalhes</a>
                    </div>
                </div>
                       
                        <div class="overflow-x-auto">
                            <table class="w-full min-w-[540px]" data-tab-for="order" data-page="active">
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Preço</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for venda in vendas %}
                                            <tr>
                                                <th scope="row">{{venda.pk}}</th>
                                                <td scope="row">{{venda.cliente}}</td>
                                                <td scope="row">{{venda.produto}}</td>
                                                <td scope="row">{{venda.preco}}</td>
                                            </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
        <script src="https://kit.fontawesome.com/3490cbca6b.js" crossorigin="anonymous"></script>                
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </body>
    </html>
{% endblock content %}