

{% extends "base.html" %}
{% load static %}

{% block content %}
   
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
            <title>Modern Admin Dashboard</title>
            <link rel="stylesheet" href="{% static "css/dash.css" %}">
            <link rel="stylesheet"
                href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        </head>
        <body>

            <div class="page-content">

                <div class="analytics">

                    <div class="card" id="card1">
                        <div class="card-head">
                            <h2>324</h2>
                            <span class="las la-user-friends"></span>
                        </div>
                        <div class="card-progress">
                            <strong>Clientes Cadastrados</strong>
                        </div>
                    </div>

                    <div class="card" id="card2">
                        <div class="card-head">
                            <h2>340,230</h2>
                            <span class="las la-eye"></span>
                        </div>
                        <div class="card-progress">
                            <strong>Views</strong>
                        </div>
                    </div>
                    <div class="card" id="card3">
                        <div class="card-head">
                            <h2>R$53,200.00</h2>
                            <span class="las la-shopping-cart"></span>
                        </div>
                        <strong>Faturamento Total</strong>
                    </div>

                    <div class="card" id="card4">
                        <div class="card-head">
                            <h2>R$6.916,50</h2>
                            <span class="las la-envelope"></span>
                        </div>
                        <div class="card-progress">
                            <strong>Resultado Liquido</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="records table-responsive">

                <div class="record-header">
                    <div class="add">
                        <span>Entries</span>
                        <select name="" id="">
                            <option value="">ID</option>
                        </select>
        
                    </div>

                    <div class="browse">
                        <input type="search" placeholder="Search" class="record-search">
                        <select name="" id="">
                            <option value="">Status</option>
                        </select>
                    </div>
                </div>

                <div>
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><span class="las la-sort"></span> CLIENT</th>
                                <th><span class="las la-sort"></span> TOTAL</th>
                                <th><span class="las la-sort"></span> ISSUED DATE</th>
                                <th><span class="las la-sort"></span> BALANCE</th>
                                <th><span class="las la-sort"></span> ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                
                                        <div class="client-info">
                                            <h4>Andrew Bruno</h4>
                                            <small>bruno@crossover.org</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    $3171
                                </td>
                                <td>
                                    19 April, 2022
                                </td>
                                <td>
                                    -$205
                                </td>
                                <td>
                                    <div class="actions">
                                        <span class="lab la-telegram-plane"></span>
                                        <span class="las la-eye"></span>
                                        <span class="las la-ellipsis-v"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                        <div class="client-info">
                                            <h4>Exty Bruno</h4>
                                            <small>exty@crossover.org</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    $3171
                                </td>
                                <td>
                                    19 April, 2022
                                </td>
                                <td>
                                    -$205
                                </td>
                                <td>
                                    <div class="actions">
                                        <span class="lab la-telegram-plane"></span>
                                        <span class="las la-eye"></span>
                                        <span class="las la-ellipsis-v"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                        <div class="client-info">
                                            <h4>Exty Bruno</h4>
                                            <small>exty@crossover.org</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    $2171
                                </td>
                                <td>
                                    19 April, 2022
                                </td>
                                <td>
                                    <span class="paid">Paid</span>
                                </td>
                                <td>
                                    <div class="actions">
                                        <span class="lab la-telegram-plane"></span>
                                        <span class="las la-eye"></span>
                                        <span class="las la-ellipsis-v"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                        <div class="client-info">
                                            <h4>Andrew Bruno</h4>
                                            <small>bruno@crossover.org</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    $3171
                                </td>
                                <td>
                                    19 April, 2022
                                </td>
                                <td>
                                    -$205
                                </td>
                                <td>
                                    <div class="actions">
                                        <span class="lab la-telegram-plane"></span>
                                        <span class="las la-eye"></span>
                                        <span class="las la-ellipsis-v"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                        <div class="client-info">
                                            <h4>Exty Bruno</h4>
                                            <small>exty@crossover.org</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    $3171
                                </td>
                                <td>
                                    19 April, 2022
                                </td>
                                <td>
                                    <span class="paid">Paid</span>
                                </td>
                                <td>
                                    <div class="actions">
                                        <span class="lab la-telegram-plane"></span>
                                        <span class="las la-eye"></span>
                                        <span class="las la-ellipsis-v"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                        <div class="client-info">
                                            <h4>Exty Bruno</h4>
                                            <small>exty@crossover.org</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    $2171
                                </td>
                                <td>
                                    19 April, 2022
                                </td>
                                <td>
                                    <span class="paid">Paid</span>
                                </td>
                                <td>
                                    <div class="actions">
                                        <span class="lab la-telegram-plane"></span>
                                        <span class="las la-eye"></span>
                                        <span class="las la-ellipsis-v"></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            </div>

            </main>

            </div>
        </body>

        </html>

{% endblock content %}