<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/cadastro.css" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./home/img/icon.png" type="image/x-icon">
    <title>Create Account - Login V.2</title>
</head>

<body>
    <div class="main-login">
    </div>
    <div class="main-login">

        <div class="card-login">

        <h1>Create Account</h1>
        <form action="{%url "cadastro"%}" method="POST">{% csrf_token %}
            <div class="input-box">
                <label for="usuario">Usuario</label>

                <input id="usuario" type="text" name="usuario" placeholder="Ex: nome123." required>
            </div>

            <div class="input-box">
                <label for="primeironome">Primeiro Nome</label>

                <input id="primeironome" type="text" name="primeironome" required>
            </div>

            <div class="input-box">
                
                <label for="sobrenome">Sobrenome</label>
                <input id="sobrenome" type="text" name="sobrenome" required>
            </div>

            <div class="input-box">
                <label for="email">E-mail</label>


                <input id="email" type="email" name="email" required>
            </div>

            <div class="input-box">
                <label for="senha">Senha</label>

                <input id="senha" type="password" name="senha" placeholder="Minimo de 6 caracteres" required>
            </div>
                <button class="btn-create">Criar</button>
                <a class="iHave" href="./index.html">Eu já tenho uma conta.</a>
            </div>
        </form>    
    </div>

    </div>

</body>

</html>