
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
<link rel="stylesheet" href="{% static "css/login.css" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home/style/style.css">
    <title>Login - Business</title>
    <link rel="shortcut icon" href="./home/img/icon.png" type="image/x-icon">

</head>

<body>
    <div class="main-login">

        <div class="left-login">
            <h1>Sistema PDV<br>Entre para gerenciar.</h1>
        </div>

        <div class="right-login">
            <div class="card-login">

                <h1>Login</h1>

                <div class="textfield">
                    <label for="user">Usuario:</label>
                    <input id= "user" type="text" name="user" placeholder="User">
                </div>

                <div class="textfield">
                    <label for="Password">Senha:</label>
                    <input id="password" type="password" name="password" placeholder="Password">
                </div>
                <button type= "submit" onclick="logar(); return false" class="btn-login">Login</button>

                <a href="./form.html" id="create">Criar sua conta</a>

            </div>
        </div>

    </div>

    <script src="./script.js"></script>
</body>

</html>


{% endblock content %}


